/*@Author: Tobias Reinert 
 * This section is defines the design of all Buttons*/
/*Button*/
/*-------------------------------------------*/
.button:hover{
    -fx-background-color: rgb(70, 70, 70);
    -fx-border-color: rgb(50, 50, 50);
    -fx-text-fill: rgb(220, 220, 220); 
}

.button {
    -fx-background-color: rgb(90, 90, 90);
    -fx-border-color: rgb(70, 70, 70);
    -fx-text-fill: rgb(220, 220, 220); 
}

.button:pressed{
    -fx-effect: innershadow(two-pass-box, rgb(30, 30 ,30), 10, 0, 3, 0);
}
/*-------------------------------------------*/
/*-------------------------------------------*/


/*@Author: Tobias Reinert 
 * This will color the background and the borders of any 'Anchor pane' and used*/
.anchor-pane{
    -fx-background-color: rgb(40, 40 ,40);
    -fx-border-color: rgb(80, 80, 80);
}


/*@Author: Tobias Reinert 
 * This will color the background of any 'Border pane' used*/
.border-pane{
    -fx-background-color: rgb(95, 95 ,95);
}


/*@Author: Tobias Reinert 
 * This will color the background and the text color of any 'Text field' used*/
.text-field{
    -fx-background-color: rgb(150, 150 , 150);
    -fx-text-fill: rgb(220, 220, 220);
    -fx-color: rgb(150, 150, 150)
}


/*@Author: Tobias Reinert 
 * This section is defines the design of all 'Menue bars'*/
/* Menu-Bar */
/*-------------------------------------------*/
.menu-bar{
    -fx-background-color: rgb(50, 50, 50);   
}

.menu-bar .container {
    -fx-background-color: rgb(50, 50, 50);

}
.menu-bar .menu-item{
    -fx-background-color: rgb(60, 60, 60);
    -fx-border-color: rgb(60, 60, 60);
}

.menu-bar .menu-open-vertically{
    -fx-background-color: rgb(80, 80, 80);
}

/*Hover_____________________________________*/
.menu-bar .menu:hover{
    -fx-background-color: rgb(70, 70 ,70);
}

.menu-bar .menu-item:hover{
    -fx-background-color: rgb(80, 80, 80);
    -fx-border-color: rgb(60, 60, 60);
}
/*------------------------------------------*/
/*------------------------------------------*/


/*@Author: Tobias Reinert 
 * This will color the background of any 'Grid pane' used*/
.grid-pane{
    -fx-background-color: rgb(75,75,75);
}


/*@Author: Tobias Reinert 
 * This will color the background of any VBox used*/
.root{
	-fx-background-color: rgb(70, 70, 70);
}


/*@Author: Tobias Reinert 
 * This will color the text of any 'Label' used*/
.label{
    -fx-text-fill: rgb(220, 220, 220);
}

/*@Author: Tobias Reinert 
 * This will color the text of any 'Text' used*/
.text{
    -fx-fill: rgb(220, 220, 220);
    -fx-color: rgb(220, 220, 220);
}


/*@Author: Tobias Reinert 
 * This section is defines the design of all 'Choice Boxes'*/
/*Choice-box*/
/*-------------------------------------------*/
.choice-box{

    -fx-background-color: rgb(100, 100, 100);
    -fx-border-color: rgb(80, 80, 80);
    -fx-text-fill: rgb(220, 220, 220);
}

.choice-box:hover{
    -fx-background-color: rgb(70, 70, 70);
    -fx-text-fill: rgb(220, 220, 220); 
}

.choice-box:pressed{
    -fx-effect: innershadow(two-pass-box, rgb(30, 30 ,30), 10, 0, 3, 0);  
}

.choice-box .context-menu { 
	-fx-background-color: rgb(100, 100, 100);
}

.choice-box .menu-item:focused { 
	-fx-background-color: rgb(80, 80, 80);
}
/*------------------------------------------*/
/*------------------------------------------*/


/*@Author: Tobias Reinert 
 * This section is defines the design of all 'Toggle Buttons'*/
/*Toggle-Button*/
/*-------------------------------------------*/
.toggle-button{
    -fx-background-color: rgb(90, 90, 90);
    -fx-border-color: rgb(70, 70, 70);
    -fx-text-fill: rgb(220, 220, 220);
}

.toggle-button:hover{
    -fx-background-color: rgb(70, 70, 70);
    -fx-border-color: rgb(50, 50, 50);
    -fx-text-fill: rgb(220, 220, 220);
}

.toggle-button:selected{
    -fx-effect: innershadow(two-pass-box, rgb(30, 30 ,30), 10, 0, 3, 0);  
}
/*-------------------------------------------*/
/*-------------------------------------------*/


/*@Author: Tobias Reinert 
 * This section is defines the design of all 'Date pickers' used*/
/*Date-Picker*/
/*-------------------------------------------*/
.date-picker .arrow-button:hover{
    -fx-background-color: rgb(70, 70, 70);
    -fx-border-color: rgb(50, 50, 50);
}
.date-picker{
    -fx-background-color: rgb(100, 100, 100);
    -fx-border-color: rgb(80, 80, 80);
    -fx-text-fill: rgb(220, 220, 220);
    -fx-color: rgb(100, 100, 100);
}

.date-picker .arrow-button:pressed{
    -fx-effect: innershadow(two-pass-box, rgb(30, 30 ,30), 10, 0, 3, 0);
}

.date-picker .date-cell{
    -fx-background-color: rgb(60, 60, 60);
}

.date-picker .day-cell{
     -fx-background-color: rgb(80, 80, 80);
}

.date-picker{
    -fx-background-color: rgb(80, 80, 80);
}
/*-------------------------------------------*/
/*-------------------------------------------*/


/*@Author: Tobias Reinert 
 * This section is defines the design of all 'Tab panes' used*/
/*Tab-Pane*/
/*-------------------------------------------*/
.tab-pane{
    -fx-border-color: rgb(80, 80, 80);
    -fx-background-color: rgb(60, 60, 60);
}

.tab-header-area .tab-header-background{
    -fx-background-color: rgb(40, 40 ,40);
    -fx-border-color: rgb(80, 80, 80);
}

.tab-pane .tab{
    -fx-background-color: rgb(80, 80, 80);
    -fx-border-color: rgb(60, 60, 60);
}

.tab-pane .tab:hover{
    -fx-background-color: rgb(60, 60, 60);
}

.tab-pane .tab:selected{
    -fx-background-color: rgb(100, 100, 100);
    -fx-border-color: rgb(120, 120, 120);
}

.text{
    -fx-fill: rgb(220, 220, 220);
}
/*-------------------------------------------*/
/*-------------------------------------------*/


/*@Author: Tobias Reinert 
 * This section is defines the design of all 'Sliders' used*/
/*Sliders*/
/*-------------------------------------------*/
.sliders .track{
    -fx-background-color: rgb(20, 20, 20);
}

.sliders .thumb{
    -fx-color: rgb(80, 80, 80);
}

.sliders .thumb:hover{
    -fx-color: rgb(60, 60, 60);
}

.sliders .thumb:pressed{
    -fx-effect: innershadow(two-pass-box, rgb(30, 30 ,30), 10, 0, 3, 0);
}
/*-------------------------------------------*/
/*-------------------------------------------*/


/*@Author: Tobias Reinert, Phillip Persch 
 * This section is defines the design of all 'List views' used*/
/*List-View*/
/*-------------------------------------------*/
.list-view{
    -fx-border-color: rgb(90, 90, 90);
    -fx-background-color: rgb(60, 60, 60);
}

.list-view .list-cell:even{
    -fx-background-color: rgb(65, 65, 65);
}

.list-view .list-cell:odd{
    -fx-background-color: rgb(60, 60, 60);
}

.list-view .list-cell:empty { 
	-fx-background-color: rgb(60, 60, 60);
}


.list-view .list-cell:filled:selected {
    -fx-background-color: rgb(90, 90, 90);
    -fx-text-fill: white;
}
.list-view .virtual-flow{
    -fx-background-color: rgb(60, 60, 60);
}
/*-------------------------------------------*/
/*-------------------------------------------*/


/*@Author: Tobias Reinert 
 * This section is defines the design of all 'Split panes' used*/
/*Split-Pane*/
/*-------------------------------------------*/
.split-pane{
    -fx-background-color: rgb(60, 60, 60);
    -fx-border-color: rgb(70, 70, 70);
    -fx-color: rgb(70, 70, 70);
}

.split-pane .scroll-bar{
    -fx-background-color: rgb(60, 60, 60);
}

.split-pane .scroll-bar .decrement-button:hover{
    -fx-background-color: rgb(60, 60, 60);
}

.split-pane .scroll-bar .increment-button:hover{
    -fx-background-color: rgb(60, 60, 60);
}

.split-pane .scroll-bar .thumb:hover{
    -fx-background-color: rgb(80, 80, 80);
}
/*-------------------------------------------*/
/*-------------------------------------------*/


/*@Author: Phillip Persch 
 * This section is defines the design of all 'Progress indicator' used*/
/*Progress-Indicator*/
/*-------------------------------------------*/

.progress-indicator {
    -fx-fill: rgb(255,255,255);
}
.progress-indicator .percentage {
    -fx-fill: rgb(255,255,255);
}
/*-------------------------------------------*/
/*-------------------------------------------*/


/*@Author: 
 * This will color the background of any 'Stack pane' used*/
.stack-pane{
  -fx-background-color: rgb(80,80,80);
}


/*@Author: Tobias Reinert 
 * This section is defines the design of all 'Scroll pane' used*/
/*Scroll-Pane*/
/*-------------------------------------------*/
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: rgb(75, 75, 75);
}

.scroll-pane .corner{
    -fx-background-color: rgb(60, 60, 60);
}
/*-------------------------------------------*/
/*-------------------------------------------*/

/*------------------------------------------------------------------------------- */



/*ADDITIONAL DATA FOR CSS COLORING

// Background color of the whole context menu
.choice-box .context-menu { -fx-background-color: black; }
// Focused item background color in the list
.choice-box .menu-item:focused { -fx-background-color: orange; }
// Text color of non-focused items in the list
.choice-box .menu-item > .label { -fx-text-fill: white; }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
If you color the ChoiceBox further:

// Background color of the control itself
.choice-box {
  -fx-background-color: black;
  -fx-mark-color: orange; // arrow color
}

// Selected item text color on the control itself
.choice-box > .label { -fx-text-fill: white; }
* 
* 
* .progress-bar{
    -fx-color: rgb(100, 100, 100);
    -fx-border-color: rgb(80, 80, 80);
}
/*
.split-pane.vertical {
    -fx-background-color: rgb(60, 60, 60);
    -fx-border-color: rgb(80, 80, 80);
}
* /*@Author: Tobias Reinert 
 * This section is defines the design of all 'color picker' used*/
/*Color-Picker*/
/*-------------------------------------------*/
/* 
.color-picker:hover{
    -fx-background-color: rgb(70, 70, 70);
    -fx-border-color: rgb(50, 50, 50);
    -fx-text-fill: rgb(220, 220, 220); 
}

.color-picker {
    -fx-background-color: rgb(90, 90, 90);
    -fx-border-color: rgb(70, 70, 70);
    -fx-text-fill: rgb(220, 220, 220); 
}

.color-picker:pressed{
    -fx-effect: innershadow(two-pass-box, rgb(30, 30 ,30), 10, 0, 3, 0);
}
*/
/*-------------------------------------------*/
/*-------------------------------------------*/