.tree-view .tree-cell{
    -fx-background-color: rgb(60, 60, 60);
 
}

.tree-view{
    -fx-border-color: rgb(90, 90, 90);
    -fx-background-color: rgb(60, 60, 60);
}

.tree-view .virtual-flow{
    -fx-background-color: rgb(60, 60 ,60);
}